<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MacTester</string>
	<key>CFBundleExecutable</key>
	<string>MacTester</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>MacTester</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MacTester</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSCameraUsageDescription</key>
	<string>Cette application a besoin d'accéder à la caméra pour les tests matériels.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Cette application a besoin d'accéder au microphone pour les tests matériels.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
